/venv
/.vscode
**/__pycache__
/lib/build
/lib/cpp.egg-info
.DS_Store

# LaTeX
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz

# Secrets!
my_secrets/client.py
my_secrets/server.py

simple_ssl_handshake.py
